html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

#bradContainer {
  font-family: sans-serif;
  position: relative;
  width: 158px;
  height: 598px;
  border: 1px solid #00a651;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background: #15a54a;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=0);
  /* Modern Browsers */
  opacity: 0; }
  #bradContainer #bradContent {
    cursor: pointer;
    width: 100%;
    height: 100%; }
    #bradContainer #bradContent #bradBackground1 {
      width: 160px;
      height: 600px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-image: url(../img/bg.png); }
    #bradContainer #bradContent #bradBackground2 {
      width: 694px;
      height: 600px;
      position: absolute;
      left: -149px;
      top: 0;
      background-image: url(../img/bg2.jpg); }
    #bradContainer #bradContent #bradBackground3 {
      width: 160px;
      height: 511px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-image: url(../img/bg3.jpg); }
    #bradContainer #bradContent #bradBackground4 {
      width: 160px;
      height: 600px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #00a651; }
    #bradContainer #bradContent #bradBigCirc {
      width: 601px;
      height: 601px;
      position: absolute;
      left: -165px;
      top: -147px;
      background-image: url(../img/bigcirc.png); }
    #bradContainer #bradContent #bradSmCirc {
      width: 33px;
      height: 33px;
      position: absolute;
      left: 12px;
      top: 88px;
      background-image: url(../img/smcirc.png); }
    #bradContainer #bradContent #t1 {
      width: 100px;
      height: 71px;
      position: absolute;
      left: 40px;
      top: 94px;
      background-image: url(../img/t1.png); }
    #bradContainer #bradContent #t2 {
      width: 79px;
      height: 101px;
      position: absolute;
      left: 40px;
      top: 198px;
      background-image: url(../img/t2.png); }
    #bradContainer #bradContent #t3 {
      width: 100px;
      height: 75px;
      position: absolute;
      left: 40px;
      top: 328px;
      background-image: url(../img/t3.png); }
    #bradContainer #bradContent #t4 {
      width: 118px;
      height: 62px;
      position: absolute;
      left: 20px;
      top: 24px;
      background-image: url(../img/t4.png); }
    #bradContainer #bradContent #t5 {
      width: 110px;
      height: 30px;
      position: absolute;
      left: 20px;
      top: 140px;
      background-image: url(../img/t5.png); }
    #bradContainer #bradContent #r1_1, #bradContainer #bradContent #r1_2, #bradContainer #bradContent #r1_3, #bradContainer #bradContent #r2_1, #bradContainer #bradContent #r2_2, #bradContainer #bradContent #r2_3, #bradContainer #bradContent #r3_1, #bradContainer #bradContent #r3_2, #bradContainer #bradContent #r3_3, #bradContainer #bradContent #r1_4, #bradContainer #bradContent #r2_4, #bradContainer #bradContent #r3_4, #bradContainer #bradContent #r1_5, #bradContainer #bradContent #r2_5, #bradContainer #bradContent #r3_5, #bradContainer #bradContent #r1_6, #bradContainer #bradContent #r2_6, #bradContainer #bradContent #r3_6, #bradContainer #bradContent #r1_7, #bradContainer #bradContent #r2_7, #bradContainer #bradContent #r3_7, #bradContainer #bradContent #r1_8, #bradContainer #bradContent #r2_8, #bradContainer #bradContent #r3_8, #bradContainer #bradContent #r1_9, #bradContainer #bradContent #r2_9, #bradContainer #bradContent #r3_9 {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      /* This works in IE 8 & 9 too */
      /* ... but also 5, 6, 7 */
      filter: alpha(opacity=0);
      /* Modern Browsers */
      opacity: 0;
      position: absolute;
      width: 35px;
      height: 35px; }
    #bradContainer #bradContent #r1_1, #bradContainer #bradContent #r1_2, #bradContainer #bradContent #r1_3 {
      top: 88px; }
    #bradContainer #bradContent #r1_4, #bradContainer #bradContent #r1_5, #bradContainer #bradContent #r1_6 {
      top: 121px; }
    #bradContainer #bradContent #r1_7, #bradContainer #bradContent #r1_8, #bradContainer #bradContent #r1_9 {
      top: 144px; }
    #bradContainer #bradContent #r2_1, #bradContainer #bradContent #r2_2, #bradContainer #bradContent #r2_3 {
      top: 195px; }
    #bradContainer #bradContent #r2_4, #bradContainer #bradContent #r2_5, #bradContainer #bradContent #r2_6 {
      top: 228px; }
    #bradContainer #bradContent #r2_7, #bradContainer #bradContent #r2_8, #bradContainer #bradContent #r2_9 {
      top: 251px; }
    #bradContainer #bradContent #r3_1, #bradContainer #bradContent #r3_2, #bradContainer #bradContent #r3_3 {
      top: 320px; }
    #bradContainer #bradContent #r3_4, #bradContainer #bradContent #r3_5, #bradContainer #bradContent #r3_6 {
      top: 350px; }
    #bradContainer #bradContent #r3_7, #bradContainer #bradContent #r3_8, #bradContainer #bradContent #r3_9 {
      top: 380px; }
    #bradContainer #bradContent #r1_1, #bradContainer #bradContent #r1_4, #bradContainer #bradContent #r1_7, #bradContainer #bradContent #r2_1, #bradContainer #bradContent #r2_4, #bradContainer #bradContent #r2_7, #bradContainer #bradContent #r3_1, #bradContainer #bradContent #r3_4, #bradContainer #bradContent #r3_7 {
      left: 40px; }
    #bradContainer #bradContent #r1_2, #bradContainer #bradContent #r1_5, #bradContainer #bradContent #r1_8, #bradContainer #bradContent #r2_2, #bradContainer #bradContent #r2_5, #bradContainer #bradContent #r2_8, #bradContainer #bradContent #r3_2, #bradContainer #bradContent #r3_5, #bradContainer #bradContent #r3_8 {
      left: 73px; }
    #bradContainer #bradContent #r1_3, #bradContainer #bradContent #r1_6, #bradContainer #bradContent #r1_9, #bradContainer #bradContent #r2_3, #bradContainer #bradContent #r2_6, #bradContainer #bradContent #r2_9, #bradContainer #bradContent #r3_3, #bradContainer #bradContent #r3_6, #bradContainer #bradContent #r3_9 {
      left: 106px; }
    #bradContainer #bradContent #r1_1, #bradContainer #bradContent #r1_2, #bradContainer #bradContent #r1_3 {
      background-image: url(../img/r1.png); }
    #bradContainer #bradContent #r2_1, #bradContainer #bradContent #r2_2, #bradContainer #bradContent #r2_3 {
      background-image: url(../img/r2.png); }
    #bradContainer #bradContent #r3_1, #bradContainer #bradContent #r3_2, #bradContainer #bradContent #r3_3 {
      background-image: url(../img/r3.png); }
    #bradContainer #bradContent #r1_4, #bradContainer #bradContent #r2_4, #bradContainer #bradContent #r3_4 {
      background-image: url(../img/r4.png); }
    #bradContainer #bradContent #r1_5, #bradContainer #bradContent #r2_5, #bradContainer #bradContent #r3_5 {
      background-image: url(../img/r5.png); }
    #bradContainer #bradContent #r1_6, #bradContainer #bradContent #r2_6, #bradContainer #bradContent #r3_6 {
      background-image: url(../img/r6.png); }
    #bradContainer #bradContent #r1_7, #bradContainer #bradContent #r2_7, #bradContainer #bradContent #r3_7 {
      background-image: url(../img/r1.png); }
    #bradContainer #bradContent #r1_8, #bradContainer #bradContent #r2_8, #bradContainer #bradContent #r3_8 {
      background-image: url(../img/r4.png); }
    #bradContainer #bradContent #r1_9, #bradContainer #bradContent #r2_9, #bradContainer #bradContent #r3_9 {
      background-image: url(../img/r1.png); }
    #bradContainer #bradContent #bradFooter {
      background: #fff;
      width: 160px;
      height: 94px;
      position: absolute;
      top: 506px; }
      #bradContainer #bradContent #bradFooter #bradFooterImageContainer {
        background-image: url(../img/logo.png);
        position: absolute;
        top: 34px;
        left: 28px;
        width: 101px;
        height: 27px; }
      #bradContainer #bradContent #bradFooter #bradFooterCTA {
        background: #fa7700;
        position: absolute;
        top: -48px;
        left: 20px;
        width: 120px;
        height: 27px; }
        #bradContainer #bradContent #bradFooter #bradFooterCTA #bradFooterCTAT {
          background-image: url(../img/ctat.png);
          position: absolute;
          top: 6px;
          left: 12px;
          width: 96px;
          height: 14px; }

button {
  padding: 10px;
  margin-top: 10px; }

button:nth-child(1) {
  margin-left: 10px; }

#slider {
  width: 300px;
  margin: 10px;
  background-color: #ff0; }
