  body {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
  }
  
  #bradContainer {
      font-family: sans-serif;
      position: relative;
      width: 298px;
      height: 248px;
      border: 1px solid #00a651;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      background: #15a54a;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8
      /* This works in IE 8 & 9 too */
      /* ... but also 5, 6, 7 */
      
      filter: alpha(opacity=0); // IE 5-7
      /* Modern Browsers */
      
      opacity: 0;
      #bradContent {
          cursor: pointer;
          width: 100%;
          height: 100%;
          #bradBackground1 {
              width: 300px;
              height: 250px;
              position: absolute;
              left: 0px;
              top: 0px;
              background-image: url(../img/bg.png);
          }#bradBackground2 {
              width: 700px;
              height: 439px;
              position: absolute;
              left: -10px;
              top: -100px;
              background-image: url(../img/bg2.jpg);
          }#bradBackground3 {
              width: 300px;
              height: 250px;
              position: absolute;
              left: 0px;
              top: 0px;
              background-image: url(../img/bg3.jpg);
          }#bradBigCirc {
              width: 347px;
              height: 347px;
              position: absolute;
              left: -23px;
              top: -47px;
              background-image: url(../img/bigcirc.png);
          }#bradSmCirc {
              width: 40px;
              height: 40px;
              position: absolute;
              left: 26px;
              top: 55px;
              background-image: url(../img/smcirc.png);
          }
          #t1{
              width: 174px;
              height: 121px;
              position: absolute;
              left: 78px;
              top: 58px;
              background-image: url(../img/t1.png);
          }
          #t2{
              width: 180px;
              height: 128px;
              position: absolute;
              left: 78px;
              top: 58px;
              background-image: url(../img/t2.png);
          }
          #t3{
              width: 172px;
              height: 128px;
              position: absolute;
              left: 78px;
              top: 58px;
              background-image: url(../img/t3.png);
          }
          #t4{
              width: 201px;
              height: 95px;
              position: absolute;
              left:15px;
              top: 17px;
              background-image: url(../img/t4.png);
          }
          #t5{
              width: 220px;
              height: 12px;
              position: absolute;
              left: 15px;
              top: 181px;
              background-image: url(../img/t5.png);
          }
          #r1, #r2, #r3, #r4, #r5, #r6{
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8
              /* This works in IE 8 & 9 too */
              /* ... but also 5, 6, 7 */

              filter: alpha(opacity=0); // IE 5-7
              /* Modern Browsers */

              opacity: 0;
              width:61px;
              height: 64px;
          }
          #r1{
              
              position: absolute;
              left: 76px;
              top: 58px;
              background-image: url(../img/r1.png);
          }
          #r2{
              position: absolute;
              left: 136px;
              top: 58px;
              background-image: url(../img/r2.png);
          }
          #r3{
              position: absolute;
              left: 195px;
              top: 58px;
              background-image: url(../img/r3.png);
          }
          #r4{
              position: absolute;
              left: 76px;
              top: 120px;
              background-image: url(../img/r4.png);
          }
          #r5{
              position: absolute;
              left: 136px;
              top: 120px;
              background-image: url(../img/r5.png);
          }
          #r6{
              position: absolute;
              left: 195px;
              top: 120px;
              background-image: url(../img/r6.png);
          }
          #bradFooter {
              background: #fff;
              width: 300px;
              height: 47px;
              position: absolute;
              top: 203px;
              #bradFooterImageContainer {
                  background-image: url(../img/logo.png);
                  position: absolute;
                  top: 14px;
                  left: 205px;
                  width: 80px;
                  height: 20px;
              }
              #bradFooterCTA {
                  background: #fa7700;
                  position: absolute;
                  top: 14px;
                  left: 15px;
                  width: 80px;
                  height: 20px;
                  
                  #bradFooterCTAT {
                      background-image: url(../img/ctat.png);
                      position: absolute;
                      top: 6px;
                      left: 6px;
                      width: 65px;
                      height: 9px;
                  }
              }
          }
      }
  }
 button {
      padding: 10px;
      margin-top: 10px;
  }
  
  button:nth-child(1) {
      margin-left: 10px;
  }
  
  #slider {
      width: 300px;
      margin: 10px;
      background-color: #ff0;
  }
 